.sidebar {
  background: var(--color-primary);
  color: #fff;
}



/* container interno */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 20px;
}

.dashboard-actions {
  gap: 50px;
}

.dashboard-search {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 250px;
  padding: 0 20px;

  background-color: #fff;
  border-radius: 30px;
}


/* grupos */
.sidebar-item,
.sidebar-config {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-icons,
.dashboard-actions {
  display: flex;
}

/* item individual */
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  cursor: pointer;

  transition: background 0.2s ease;
  padding: 10px;
  border-radius: 10px;
}

.menu-item:hover {
  background-color: rgb(236, 80, 80);
}

.menu-item.active {
  background-color: rgb(236, 80, 80);
}
