.sidebar {
  background: var(--color-primary);
  color: #fff;
}


.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 20px;
}


.sidebar-item,
.sidebar-config {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  cursor: pointer;

  padding: 10px;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.menu-item:hover,
.menu-item.active {
  background-color: rgb(236, 80, 80);
}


.dashboard-actions {
  display: flex;
  gap: 50px;
}

.dashboard-icons {
  display: flex;
}


.dashboard-search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;

  width: 270px;
  padding: 0 20px;

  background-color: #fff;
  border-radius: 30px;
}


.dashboard-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: #fff;
  padding: 16px;
  border-radius: 25px;

  height: 150px;
  width: 100%;
  text-align: center;
}

.dashboard-card p {
  font-size: 1.6rem;
  font-weight: bold;
}


.dashboard-history_transaction {
  height: 150px;
}

.dashboard-balance_graphy {
  height: 150px;
}


.sidebar-right_title {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 10px 0;
}

.account-card {
  padding: 16px;
  background-color: aquamarine;
  border-radius: 16px;
}


.account-card__number {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 12px;
}


.account-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}


.account-card__holder {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.account-card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-card__meta__section {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.upcoming-pay__card__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.account-card__expiry,
.account-card__cvv {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.account-card__expiry p:first-child,
.account-card__cvv p:first-child {
  font-size: 0.75rem;
  opacity: 0.7;
}

.account-card__expiry p:last-child,
.account-card__cvv p:last-child {
  font-weight: 600;
}

