body {
  display: grid;
  grid-template-columns: 80px 1fr 20%;
  height: fit-content;
}

.sidebar {
  width: 80px;
  height: 100%;

  border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
  background: var(--color-secundary);

  border: 1px solid black;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: var(--space-md);
}

.sidebar-item,
.sidebar-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);

}

.tooltip {
  position: relative;
  display: inline-flex;
}

.tooltip-text {
  z-index: 99;
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);

  background-color: #1e293b;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;

  font-size: 0.75rem;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--space-sm);
  border-radius: var(--radius-md);

  border: none;
  cursor: pointer;

  transition: background 0.2s ease;
}

.sidebar-item button,
.sidebar-config button {
  background: var(--color-sidebar-btn);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-item:hover,
.menu-item.active {
  background-color: var(--color-sidebar-btn-hover);
  transform: scale(1.10);
  border: 1px solid black;

}

main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 10px 15px 0 15px;
}

/* ======================================================
   DASHBOARD — TOPO
====================================================== */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
  gap: var(--space-sm);

  width: 300px;
  height: 40px;
  padding: 0 var(--space-lg);

  background-color: var(--color-card-bg);
  border-radius: 30px;
}

.dashboard-search button {
  cursor: pointer;
  width: 30px;
}

.dashboard-search input[type="search"] {
  caret-color: var(--color-text);
  width: 100%;
  color: var(--color-text);
}

.btn-open-sidebar {
  width: 60px;
  display: none;
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  width: 100%;
  margin: var(--space-sm) auto;

}

.dashboard-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 150px;
  padding: var(--space-md);

  background-color: var(--color-card-bg);
  border-radius: var(--space-md);
  text-align: center;
}

.dashboard-card img {
  width: 50px;
}

.dashboard-card p {
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--color-text);
}

.dashboard-history {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  height: 205px;
  margin-bottom: var(--space-xs);
  padding: var(--space-md);
  padding-bottom: 0;
  border-radius: var(--radius-md);

  background-color: var(--color-card-bg);

}

.transactions-history {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #6c5ce7 transparent;
}

.transactions-history::-webkit-scrollbar {
  width: 8px;
}

.transactions-history::-webkit-scrollbar-track {
  background: transparent;
}

.transactions-history::-webkit-scrollbar-thumb {
  background-color: #6c5ce7;
  border-radius: var(--radius-sm);
}

.transactions-history::-webkit-scrollbar-thumb:hover {
  background-color: #5847d6;
}

.transaction-image {
  width: 40px;
}

.transaction-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

  width: 100%;
  min-width: 0;
  padding: var(--space-sm) var(--space-md);
}

.transaction-item span {
  font-size: var(--font-size-md);
}

.dashboard-balance {
  height: 100%;
  background-color: var(--color-card-bg);
  margin-top: var(--space-sm);
  border-radius: var(--radius-md);
  padding: 10px;
}

#finance-chart {
  width: 100%;
  max-width: 1100px;
}

.dashboard-balance_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-balance_category {
  display: flex;
  gap: 30px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.dot-income {
  background-color: #00b894;
}

.dot-expense {
  background-color: #6c5ce7;
}

.dashboard-balance_filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-balance_filter label {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.dashboard-balance_filter select {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: #6c5ce7;
  padding-right: 30px;
  color: #fff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.dashboard-balance_filter select:hover,
.dashboard-balance_filter select:focus {
  background-color: #5a4dcf;
  outline: none;
  transform: scale(1.02);
}

.dashboard-balance_filter {
  position: relative;
}

.dashboard-balance_filter::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
  font-size: 12px;
}

.dashboard-balance_graphy {
  height: fit-content;
}

.dashboard-balance_graphy img {
  width: 100%;
  height: 100%;
}

/* ======================================================
   SIDEBAR DIREITA
====================================================== */
.sidebar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-sm);
  height: 100%;

  padding: 45px 15px 30px 15px;
  border-radius: var(--radius-lg) 0 0 var(--radius-lg);

  background-color: var(--color-secundary);
  border: 1px solid black;
}

.sidebar-right h1 {
  color: #FFF;
}

.sidebar-right_title {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: var(--space-sm);
  align-items: center;
}

.sidebar-right_profile {
  width: 60px;
  cursor: pointer;
  transition: transform 0.2s ease
}

.sidebar-right_profile:hover {
  transform: scale(1.15);
}

.btn-close-sidebar {
  font-size: 30px;
}

.btn-close-sidebar {
  display: none;
  align-items: end;
  justify-content: flex-end;

  width: fit-content;
  padding: var(--space-xs) var(--space-xs);
  border-radius: var(--radius-md);
  background-color: var(--color-secundary);

  color: white;
  cursor: pointer;

  transition: background 0.2s ease;
}

.btn-close-sidebar:hover {
  background-color: var(--color-sidebar-btn-hover);
  color: black;
}

/* ======================================================
   ACCOUNT CARD
====================================================== */
.account-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.account-card_unit {
  padding: var(--space-md);
  border-radius: var(--space-md);

  background: var(--color-primary);
  box-shadow: 8px 4px 4px rgb(0, 0, 0);
}

.account-card_manage button {
  padding: 10px;
  background-color: var(--color-sidebar-btn);
  width: 100%;
  border-radius: 10px;
  color: var(--color-text);
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.account-card_manage button:hover {
  background-color: var(--color-sidebar-btn-hover);
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.account-card p,
.account-card span {
  color: var(--color-text-secondary);
}

.account-card__number {
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: 600;
  letter-spacing: 2px;
}

.account-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) 0;
}

.account-card__content img {
  width: 40px;
}

.account-card__holder {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.account-card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-card__meta__section {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.account-card__expiry,
.account-card__cvv {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin: 0 var(--space-xs);
}

.account-card__expiry p:first-child,
.account-card__cvv p:first-child {
  font-size: var(--font-size-sm);
  opacity: 0.7;
}

.account-card__expiry p:last-child,
.account-card__cvv p:last-child {
  font-weight: 600;
}

.calendar {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: var(--color-primary);
  font-family: sans-serif;
}

.calendar-header {
  text-align: center;
  margin-bottom: 12px;
}

.calendar-weekdays,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar-weekdays span {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 8px;
}

.calendar-days span {
  padding: 10px 0;
  border-radius: 8px;
  cursor: default;
  color: var(--color-text);
}

.calendar-days span:hover {
  background: #7c3aed;
  color: var(--color-primary);
}

/* =====================
   MODAL
===================== */

.modais_section {
  height: 0;
}

.modal {
  position: absolute;
  bottom: 0;
  margin-left: 95px;

  width: 500px;
  height: 500px;
  padding: var(--space-lg);

  background: var(--color-modal);
  border-radius: var(--radius-lg);

  box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal-content img {
  width: 60px;
}

.modal-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content-header h2 {
  font-size: 1.7rem;
}

.modal-close {
  display: flex;
  align-items: end;
  justify-content: flex-end;

  width: fit-content;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-md);
  background-color: var(--color-secundary);

  color: white;
  cursor: pointer;
  border: 1px solid black;

  transition: background 0.2s ease;
}

.modal-close:hover {
  background-color: var(--color-sidebar-btn-hover);
  color: black;
}

.modal-item {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  padding: var(--space-md);
  border-radius: var(--radius-md);

  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform;
}

.modal-item:hover {
  background-color: var(--color-sidebar-btn-hover);
  border: 1px solid black;
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.modal-item p {
  font-size: 1rem;
  font-weight: bold;
}

.modal-content span {
  display: flex;
  justify-content: flex-end;
}

/* ======================================================
   MODAL ADD
====================================================== */
.modal-add {}

.modal-add-content {
  position: absolute;
  bottom: 0;
  margin-left: 95px;
  width: 500px;
  height: 600px;
  padding: var(--space-lg);

  background: var(--color-modal);
  border-radius: var(--radius-lg);

  box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.5);
}

.modal-add-body {
  margin-top: 15px;
}

.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-size: 0.85rem;
  color: #aaa;
}

.form-group input,
.form-group select {
  height: 42px;
  padding: 0 12px;

  background: #f1f0f8;
  border: 1px solid #333;
  border-radius: 8px;

  color: #aaa;
  font-size: 0.9rem;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--color-sidebar-btn-hover);
}

.btn-save-transaction_content {
  display: flex;
  justify-content: center;
}

.btn-add-transactions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.btn-add-transaction,
.btn-delete-transaction,
.btn-save-transaction {
  margin-top: 12px;
  height: 46px;
  width: 50%;

  background: var(--color-sidebar-btn-hover);
  color: #fff;

  border: none;
  border-radius: 8px;

  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.2s;
  transition: transform 0.2s ease
}

.btn-delete-transaction {
  background-color: rgb(214, 36, 36);
}

.btn-add-transaction:hover,
.btn-delete-transaction:hover,
.btn-save-transaction:hover {
  opacity: 0.9;
  transform: scale(1.04);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* toggle */

.app__card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: var(--space-md);

}

.app__card-list-label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-text-secondary);
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: var(--color-sidebar-btn-hover);
  border-radius: 1.6rem;
  width: 3.8rem;
  height: 2.3rem;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.toggle-checkbox:checked+.toggle-switch {
  background: #24275A;
}

.toggle-checkbox:checked+.toggle-switch:before {
  left: 2rem;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.support-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.support-modal__title {
  font-size: var(--font-size-lg);
}

.support-topics {
  padding: 20px;
  box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.support-topic {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.support-topic img {
  width: 20px;
}

.support-topic p {
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.support-topic__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin-top: var(--space-sm);

  font-size: var(--font-size-sm);
}

.support-topic__item {
  color: var(--color-text-secondary);
}

.support-contact {}

.support-contact__title {
  font-size: var(--font-size-lg);
}

.support-contact__section {
  display: flex;
  justify-content: space-between;

  padding: var(--space-lg);
  margin-top: var(--space-md);

  background-color: #5d46dc;
  border-radius: var(--space-md);
  border: 1px solid black;
}

.support-contact__info {}

.support-contact__schedule {
  display: flex;
  gap: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.support-contact__label {
  font-weight: bold;
  color: rgb(209, 209, 209);
  font-size: 0.8rem;
}

.support-contact__text {
  color: rgb(201, 201, 201);
}

.support-contact__phone {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.support-contact__phone img {
  width: 20px;
}

.support-contact__button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: var(--space-sm);
  border: 1px solid black;
  border-radius: var(--radius-lg);

  cursor: pointer;
  transition: transform 0.2s ease;
  background-color: var(--color-siderbar-hover);
}

.support-contact__button p {
  color: rgb(41, 41, 41);
  font-weight: bold;
}

.support-contact__button img {
  width: 20px;
}

.support-contact__button:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.modal-add-cards {}

.modal-add-card {
  position: absolute;
  bottom: 0;
  right: 320px;
  width: 500px;
  height: 600px;
  padding: var(--space-lg);

  background: var(--color-modal);
  border-radius: var(--radius-lg);

  box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.5);
}

/* --------History.html--------*/
.dashboard-header_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.dashboard-history_page {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  height: fit-content;
  overflow-y: hidden;
  padding: var(--space-md);
  padding-bottom: 0;
  border-radius: var(--radius-md);

  background-color: var(--color-card-bg);

}

.transactions-history_page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #6c5ce7 transparent;
}

.transactions-history_page::-webkit-scrollbar {
  width: 8px;
}

.transactions-history_page::-webkit-scrollbar-track {
  background: transparent;
}

.transactions-history_page::-webkit-scrollbar-thumb {
  background-color: #6c5ce7;
  border-radius: var(--radius-sm);
}

.transactions-history_page::-webkit-scrollbar-thumb:hover {
  background-color: #5847d6;
}