body {
  font-family: var(--font-family-base);
  background-color:var(--color-bg) ;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  color: var(--color-text);
  font-size: var(--font-size-lg);
}

p,
span {
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--space-lg);
}

.hidden {
  display: none;
}