

/*
  1. Posicionamento
  2. Display / Layout
  3. Dimensões
  4. Box Model
  5. Aparência
  6. Tipografia
  7. Interação
  8. Efeitos
  9. Outros
 */

 
/*
styles/
│
├── base.css         reset, variáveis, tipografia 
├── layout.css       grid, estrutura, posicionamento 
├── components.css   cards, botões, modais, listas 
├── pages.css        ajustes específicos de páginas 
└── animations.css   transições e animações 
*/