body {
  display: grid;
  grid-template-columns: 90px 1fr 300px;
  height: 100vh;
}

.sidebar {
  width: 90px;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 35px 0 35px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  gap: 20px;
}

.sidebar-right {
  padding: 35px 15px 0 15px;
  background-color: antiquewhite;
}