body {
  display: grid;
  grid-template-columns: 90px 1fr 300px;
  height: 100vh;
}

.sidebar {
  width: 90px;
  height: 100vh;
}

.main {
  padding: var(--space-lg);
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-lg);
}