body {
  display: grid;
  grid-template-columns: 90px 1fr 330px;
  height: 100vh;
}

.sidebar {
  width: 90px;
  height: 100vh;
}

main {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5px;
  padding: 10px 35px 0 35px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  gap: 15px;
}

.dashboard-history {
  height: 200px;
  margin-bottom: 5px;
}

.dashboard-balance {
  height: 200px;
}

.dashboard-history {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 45px 35px 30px 35px;
}

.upcoming {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: space-evenly;
}