/* Mobile */
@media (max-width: 480px) {

  body {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100%;
    overflow-x: hidden;
  }

  .sidebar {
    width: 100%;
    height: 80px;
    padding: 25px 0 40px 0;

    border-radius: 0;
    position: fixed;
    overflow-x: hidden;
  }

  .sidebar img {
    width: 40px;
  }

  .sidebar-menu {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
  }

  .sidebar-item,
  .sidebar-config {
    flex-direction: row;
  }

  .menu-item {
    width: 40px;
  }

  .sidebar-menu img {
    width: 30px;
  }

  main {
    width: fit-content;
    height: auto;
  }

  .dashboard-header {
    width: 100%;
  }

  .dashboard-title {
    width: 200px;
  }

  .dashboard-search {
    width: 100%;
  }

  .dashboard-cards {
    flex-wrap: wrap;
    width: 100%;
  }

  .dashboard-card {
    flex: 1 1 calc(50% - var(--space-md));
    height: 150px;
  }

  .dashboard-card p {
    font-size: 14px;
  }

  .dashboard-history {
    gap: 0;
    padding: 5px;
    height: 300px;
  }

  .dashboard-balance {
    height: 100%;
  }

  #finance-chart {
    height: 150px;
  }

  .modal,
  .modal-add-content {
    width: 100%;
    margin: 0 auto 80px auto;
  }

  .btn-open-sidebar {
    display: flex;
  }

  .btn-close-sidebar {
    display: flex;
  }

  .sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 55%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .6s ease;
    z-index: 1000;
  }

  .sidebar-right.active {
    transform: translateX(0);
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-size-sm);
  }

}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {

  body {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100%;
    overflow-x: hidden;
  }

  .sidebar {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-radius: 0;
    margin: 10px 0 0 0;
  }

  .sidebar img {
    width: 40px;
  }

  .sidebar-menu {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
  }

  .sidebar-item,
  .sidebar-config {
    flex-direction: row;
  }

  .menu-item {
    width: 40px;
  }

  .sidebar-menu img {
    width: 30px;
  }

  main {
    width: 100%;
    margin: 0;
    height: auto;
  }

  .dashboard-header {
    width: 100%;
  }

  .dashboard-search {
    width: 100%;
  }

  .dashboard-cards {
    flex-wrap: wrap;
    width: 100%;
  }

  .dashboard-card {
    flex: 1 1 calc(50% - var(--space-md));
    height: 100px;
  }

  .dashboard-card p {
    font-size: var(--font-size-sm);
  }

  .dashboard-card span {
    font-size: 12px;
  }

  .dashboard-card img {
    width: 30px;
  }

  .dashboard-history {
    gap: 0;
    padding: 5px;
  }

  .transactions-history img {
    width: 30px;
  }

  .transactions-history span {
    font-size: 13px;
  }

  .transaction-item {
    gap: 1px;
  }

  .dashboard-balance {
    height: max-content;
  }

  #finance-chart {
    height: fit-content;
  }

  .modal,
  .modal-add-content {
    width: 100%;
    margin: 0 auto 80px auto;
  }

  .btn-open-sidebar {
    display: flex;
  }

  .btn-close-sidebar {
    display: flex;
  }

  .sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .6s ease;
    z-index: 1000;
  }

  .sidebar-right.active {
    transform: translateX(0);
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-size-sm);
  }

}

/* Tablet L */
@media (min-width: 769px) and (max-width: 1024px) {

  body {
    display: grid;
    grid-template-columns: 80px 1fr;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main {
    min-height: 100vh;
  }

  .dashboard-card {
    height: 160px;
  }

  .dashboard-card img {
    width: 40px;
  }

  .dashboard-card p {
    font-size: var(--font-size-md);
  }

  .dashboard-balance {
    height: 100%;
  }

  .btn-open-sidebar {
    display: flex;
  }

  .btn-close-sidebar {
    display: flex;
  }

  .sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .6s ease;
    z-index: 1000;
  }

  .sidebar-right.active {
    transform: translateX(0);
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-size-md);
  }

}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1280px) {

  body {
    display: grid;
    grid-template-columns: 80px 1fr;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main {
    min-height: 100vh;
  }

  .dashboard-card {
    height: 130px;
  }

  .dashboard-card img {
    width: 40px;
  }

  .dashboard-card p {
    font-size: var(--font-size-md);
  }

  .dashboard-history {
    height: 190px;
  }

  .dashboard-balance {
    height: 100%;
  }

  .btn-open-sidebar {
    display: flex;
  }

  .btn-close-sidebar {
    display: flex;
  }

  .sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .6s ease;
    z-index: 1000;
  }

  .sidebar-right.active {
    transform: translateX(0);
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-size-md);
  }

}

/* Desktop */
@media (min-width: 1281px) and (max-width: 1480px) {

  main {
    min-height: 100vh;
  }

}