/* Mobile */
@media (max-width: 480px) {}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {}

/* Tablet L */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }




}

/* Desktop */
@media (min-width: 1281px) {}