/* Mobile */
@media (max-width: 480px) {
}


/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 102px 1fr;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main {
    width: 100%;
  }

  .dashboard-search {
    width: 100%;
  }

  .dashboard-cards {
    flex-wrap: wrap;
    width: 100%;
  }

  .dashboard-card {
    flex: 1 1 calc(50% - var(--space-md));
    height: 150px;
  }

  .dashboard-history {
    gap: 0;
    padding: 5px;
  }

  .dashboard-balance {
    height: 100%;
  }

  .sidebar {
    height: 100%;
  }

  .sidebar-right {
    display: none;
  }
}


/* Tablet L */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 102px 1fr;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main {
    padding: 10px 10px 0 5px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-size-md);
  }

  .dashboard-card {
    height: 130px;
  }

  .dashboard-card img {
    width: 40px;
  }

  .dashboard-card p {
    font-size: var(--font-size-md);
  }

  .dashboard-history {
    height: 190px;
  }

  .dashboard-balance {
    height: 100%;
  }

  .sidebar-right {
    display: none;
  }
}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    display: grid;
    grid-template-columns: 80px 1fr;
    min-height: 100vh;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-size-md);
  }

  .dashboard-card {
    height: 130px;
  }

  .dashboard-card img {
    width: 40px;
  }

  .dashboard-card p {
    font-size: var(--font-size-md);
  }

  .dashboard-history {
    height: 190px;
  }

  .dashboard-balance {
    height: 100%;
  }

  .btn-open-sidebar {
    display: flex;
  }

  .btn-close-sidebar {
    display: flex;
  }

  .sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .6s ease;
    z-index: 1000;
  }

  .sidebar-right.active {
    transform: translateX(0);
  }

}


/* Desktop */
@media (min-width: 1281px) and (max-width: 1480px) {
  .sidebar {
    height: 100%;
  }
}