:root {
  --color-primary: #f1f0f8;
  --color-secundary: #5d46dc;
  --color-card-bg: #ffffff;

  --color-siderbar-hover: #8AB4F8;
  --color-sidebar-btn: #ffffff;
  --color-sidebar-btn-hover: #8AB4F8;
  --color-modal: #EDE9FE;

  --color-text: #0F172A;
  --color-text-secondary: #64748B;
  --color-text-muted: #94A3B8;

  /* ===== Typography ===== */
  --font-family-base: 'Inter', system-ui, sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;

  /* ===== Spacing ===== */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  /* ===== Radius ===== */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* ===== Shadow ===== */
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);

  /* ===== Buttons ===== */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light);
  --btn-primary-text: #FFFFFF;

  --btn-secondary-bg: var(--color-secondary);
  --btn-secondary-hover: var(--color-secondary-light);
  --btn-secondary-text: #FFFFFF;

  --btn-success-bg: var(--color-success);
  --btn-success-hover: var(--color-success-light);
  --btn-success-text: #FFFFFF;

  --btn-danger-bg: var(--color-danger);
  --btn-danger-hover: var(--color-danger-light);
  --btn-danger-text: #FFFFFF;
}